




.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left:20%;
     right: 0%;
     
}

.liner-div {
    width: 600px;
    height: 450px;
    background-color: #cfe6e6;
    border: 5px solid #020202;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(238, 64, 64, 0.1);
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    align-self: center;
}

.liner-div:hover {
    transform: scale(1.1);
}


button {
    padding: 10px 20px;
    background-color: #050505;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

button:hover {
    background: #b01098;
    align-items: center;
    width: 400px;

}


.slider {
    position:relative;
    width: 80%; 
    height: 60%; 
  }
  
  .slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .slider img:first-child {
    display: ;
  }
  


